# Base URL for Amazon
BASE_URL=https://www.amazon.in/

# Mock Test Credentials
MOCK_EMAIL=nikhilsharma.sharma48@gmail.com
MOCK_PASSWORD=NikAma@98

# Product Search Term
PRODUCT_SEARCH_TERM=Mobile

# Execution Settings
HEADED=false
SLOW_MO=0
PARALLEL_WORKERS=4
CI=false
